root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
indent_style = space

[{*.scala,*.sbt}]
indent_size = 2
max_line_length = 80

[{*.hcl,*.json,*.conf}]
indent_size = 2
max_line_length = 100
